body{
 background-color: black;   
}

.box{
    border: 5px solid white;
    width: 50%;
    height: 920px;
    padding: 10px;
    font-family: "Libre Baskerville", serif;
    color: greenyellow;
    text-align: center;
    margin-left: 25%;
    margin-top: 50px;
    
}

h1{
    color: greenyellow;
   
}

img{
    
    width: 100%;
    
}
